<footer>
    <div class="container footer-content">
        <div class="footer-col">
            <a href="https://github.com/Imageomics/bioclip-ecosystem/"><h4>BioCLIP Ecosystem</h4></a>
            <p class="footer-desc">
                Developing foundation models to accelerate biological discovery and conservation through computer vision.
            </p>
        </div>
        <div class="footer-col">
            <h4>Models</h4>
            <ul class="footer-links">
                <li><a href="https://huggingface.co/imageomics/bioclip-2/">BioCLIP 2</a></li>
                <li><a href="https://huggingface.co/imageomics/bioclip/">BioCLIP</a></li>
                <li><a href="https://huggingface.co/imageomics/biocap/">BioCAP</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Data</h4>
            <ul class="footer-links">
                <li><a href="https://huggingface.co/datasets/imageomics/TreeOfLife-200M">TreeOfLife-200M</a></li>
                <li><a href="https://huggingface.co/datasets/imageomics/TreeOfLife-10M">TreeOfLife-10M</a></li>
                <li><a href="https://huggingface.co/datasets/imageomics/TreeOfLife-10M-Captions">TreeOfLife-10M Captions</a></li>
                <li><a href="https://huggingface.co/datasets/imageomics/RareSpecies">Rare Species</a></li>
                <li><a href="https://huggingface.co/datasets/imageomics/IDLE-OO-Camera-Traps">IDLE-OO Camera Traps</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Resources</h4>
            <ul class="footer-links">
                <li><a href="https://github.com/Imageomics/pybioclip">pybioclip</a></li>
                <li><a href="https://github.com/Imageomics/TreeOfLife-toolbox">TreeOfLife Toolbox</a></li>
                <li><a href="https://github.com/Imageomics/TaxonoPy">TaxonoPy</a></li>
                <li><a href="https://github.com/Imageomics/distributed-downloader">Distributed Downloader</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Community & Docs</h4>
            <ul class="footer-links">
                <li><a href="https://imageomics.github.io/pybioclip/">pybioclip Docs</a></li>
                <li><a href="https://github.com/Imageomics">Imageomics GitHub</a></li>
                <li><a href="https://huggingface.co/imageomics">Imageomics Hugging Face</a></li>
            </ul>
        </div>
    </div>
    <div class="container footer-bottom">
        <!-- Grant Acknowledgement -->
    <p>
        This work was supported by the <a href="https://imageomics.org" target="_blank"
            class="text-[#0097b2] hover:underline">Imageomics Institute</a>.

        The Imageomics Institute is funded by the US National Science Foundation's Harnessing the Data Revolution
        (HDR) program under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2118240" target="_blank"
            class="text-[#0097b2] hover:underline">Award #2118240</a> (Imageomics: A New Frontier of Biological
        Information Powered by Knowledge-Guided Machine Learning).

        Any opinions, findings, conclusions, or recommendations expressed in this material are those of the
        author(s) and do not necessarily reflect the views of the National Science Foundation.
    </p>
    </div>
</footer>
