<header class="site-header">
    <div class="container header-content"> <!-- Could we use that bird labeled image here? -->
        <a href="#" class="logo" id="logo-link">
            <div class="logo-icon"></div>
            BioCLIP Ecosystem
        </a>
        <nav class="nav-links">
            <a href="#" id="nav-models">Models</a>
            <a href="#" id="nav-data">Data</a>
            <a href="#" id="nav-software">Software</a>
            <a href="#" id="nav-demos">Demos</a>
            <a href="#" id="nav-papers">Papers</a>
            <!--<a href="https://huggingface.co/collections/imageomics/bioclip">All BioCLIP Data & Models</a>-->
        </nav>
    </div>
</header>